{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="manifest" href="site.webmanifest" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.9"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
    <body>

        <nav class="navbar">
            <div class="logo"><a href="{% url 'index' %}">Terroza</a></div>
            <ul class="nav-links">
                <li><a href="{% url 'leaderboard' %}" class="nav-link">Leaderboard</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'search' %}" class="nav-link">Explore</a></li>
                    <li><a href="{% url 'bookshelf' %}" class="nav-link">Bookshelf</a></li>
                    <li><a href="{% url 'profile' %}" class="button-nav-link">Profile</a></li>
                {% else %}
                    <li><a href="{% url 'about' %}" class="nav-link">About</a></li>
                    <li><a href="{% url 'signup' %}" class="button-nav-link">Sign Up/Login</a></li>
                {% endif %}
            </ul>
        </nav>

        <main>
            <div class="friends-frame">

                <div id="replacement-frame" class="friends-list">
                {% if user.is_authenticated %}
                    <form method="GET">
                        {% if friends %}
                            {% for friend in friend %}
                            <div class="leaderboard-card">
                                <div class="leaderboard-profile-picture-container">
                                    <img src="{{ friend.user.profile.profile_picture.url }}" alt="User Profile Picture">
                                </div>
                                
                                <div class="leaderboard-username">{{ friend.user.username }}</div>

                                <div class="leaderboard-info">
                                    <div class="leaderboard-stat-label">Words Written</div>
                                    <div class="leaderboard-stat-value">{{ friend.user.profile.words_written }}</div>
                                </div>

                                <div class="leaderboard-info">
                                    <div class="leaderboard-stat-label">Entries Made</div>
                                    <div class="leaderboard-stat-value">{{ friend.user.profile.entries_made }}</div>
                                </div>

                                <div class="leaderboard-info">
                                    <div class="leaderboard-stat-label">Pages Read</div>
                                    <div class="leaderboard-stat-value">{{ friend.user.profile.pages_read }}</div>
                                </div>

                                <div class="leaderboard-info">
                                    <div class="leaderboard-stat-label">Points</div>
                                    <div class="leaderboard-stat-value">{{ friend.user.profile.points }}</div>
                                </div>
                            </div>
                            {% endfor %}
                        {% else %}
                        <div class="error">
                            <div class="header">Looks like your bookshelf is empty</div>
                            <a href="{% url 'search' %}" class="link">Find Books</a>
                        </div>
                        {% endif %}
                    </form>
                {% endif %}
                </div>

                <div class="sidebar">
                    
                    <form hx-get="{% url 'load_send_friend_request' %}" hx-target="#replacement-frame" hx-swap="outerHTML">
                        <button type="submit" class="sidebar-button">Send Request</button>
                    </form>

                    <form hx-get="{% url 'load_pending_requests' %}" hx-target="#replacement-frame" hx-swap="outerHTML">
                        <button type="submit" class="sidebar-button">Pending</button>
                    </form>
                </div>

            </div>
        </main>

        

    </body>
</html>