{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="manifest" href="site.webmanifest" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.9"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
    <body>

        <nav class="navbar">
            <div class="logo"><a href="{% url 'index' %}">Terroza</a></div>
            <ul class="nav-links">
                <li><a href="{% url 'leaderboard' %}" class="nav-link">Leaderboard</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'search' %}" class="nav-link">Explore</a></li>
                    <li><a href="{% url 'profile' %}" class="button-nav-link">Profile</a></li>
                {% else %}
                    <li><a href="{% url 'about' %}" class="nav-link">About</a></li>
                    <li><a href="{% url 'signup' %}" class="button-nav-link">Sign Up/Login</a></li>
                {% endif %}
            </ul>
        </nav>

        <main>
            {% if user.is_authenticated %}
            <p>Hi {{ user.username }}!</p>
            <p><a href="{% url 'password_change' %}">Password Change</a></p>
            <form action="{% url 'logout' %}" method="post">
              {% csrf_token %}
              <button type="submit">Log Out</button>
            </form>
            {% else %}
            <p>You are not logged in</p>
            <p><a href="{% url 'password_reset' %}">Password Reset</a></p>
            <p><a href="{% url 'login' %}">Log In</a></p>
            {% endif %}
        </main>

        


    </body>
</html>