<div id="replacement-frame" class="pending-requests">
    <div class="about-description">
        <h2 class="header">How do Challenges Work?</h2>
        <p class="line">Go to the "Create Challenge" tab and choose a friend and book to challenge.</p>
        <p class="line">Once your friend accepts the challenge, the race begins!</p>
        <p class="line">As you and your friend read and make entries, your progress percentages will update on the main "Challenges" page.</p>
        <p class="line">The first person to complete the book and reach 100% progress is crowned the winner and will recive a bookmark as a sign of their victory. All your past victories and defeats will be recorded in the "Past Challenges" section.</p>
    </div>
</div>