<div id="replacement-frame" class="pending-requests">
    {% if past_challenges %}
            <div class="header">Past Challenges</div>
            {% for challenge in past_challenges %}
                <div class="challenge-card">
                    <div class="challenge-book-cover-container">
                        <img src="{{ challenge.book.cover_image.url }}" alt="Book Cover">
                    </div>

                    <div class="challenge-title">{{ challenge.book.title }}</div>
                    <div class="challenge-text">Started: {{ challenge.date_created }}</div>
                    <div class="challenge-text">Ended: {{ challenge.date_finished }}</div>

                    {% if challenge.player_1.username == user.username %}
                        <div class="challenge-username">Opponent: {{ challenge.player_2.username }}</div>
                    {% else %}
                        <div class="challenge-username">Opponent: {{ challenge.player_1.username }}</div>
                    {% endif %}
                    
                    <div class="challenge-text">Winner: {{ challenge.winner.user.username }}</div>

                </div>
            {% endfor %}

    {% else %}
    <div class="no-requests">
        <div class="header">No past challenges</div>
        <a href="{% url 'load_send_challenge_request' %}" class="sidebar-button">Create Challenge</a>
    </div>
    {% endif %}
</div>