<div id="replacement-frame" class="send-request">
    <form hx-post="{% url 'send_challenge_request' %}" hx-target="#replacement-frame" hx-swap="outerHTML">
        
        <div class="header">Choose a Friend</div>
        <div class="search-box">
            <input type="search" name="query" class="search-input" placeholder="Enter a username..." hx-post="{% url 'search_challenge_friends' %}"  hx-trigger="keyup changed delay:500ms, search" hx-target="#friends-list-container" hx-swap="innerHTML">
        </div>

        <div id="friends-list-container" class="friends-list">
        </div>

        <div class="header">Choose a Book</div>
        <div class="search-box">
            <input type="search" name="query" class="search-input" placeholder="Enter a title..." hx-post="{% url 'search_challenge_books' %}" hx-trigger="keyup changed delay:500ms, search" hx-target="#book-list-container" hx-swap="innerHTML">
        </div>

        <div id="book-list-container" class="book-selection-list">
        </div>
        {% csrf_token %}
        <button class="submit-btn" type="submit">Send Challenge Request</button>
    </form>
</div>