<div id="replacement-frame" class="pending-requests">
    <div class="about-description">
        <h2 class="header">Navigating your Bookshelf</h2>
        <p class="line">Start by heading to the "Add Books" tab. Search for any book you're reading, want to read, or have already finished, and add it to your collection.</p>
        <p class="line">Every time you read, select a book and click "Make an Entry." Write down your thoughts, notes, or a summary of what you've read. Saving an entry automatically updates your reading progress for that book.</p>
        <p class="line">Each book is divided into several milestones. By consistently making entries, you'll reach these checkpoints, earning points.</p>
    </div>
</div>