<div id="replacement-frame" class="send-request">
    <div class="header">Find a Book</div>
    <form hx-post="{% url 'search_books' %}" hx-target="#search-results" hx-swap="outerHTML">
        <div class="search-box">
            <input type="text" placeholder="Search for a book..." name="user_query" maxlength="200"/>
            {% csrf_token %}
            <button type="submit" class="submit-btn">Search</button>
        </div>
    </form>
</div>

<div id="search-results" class="search-results">

</div>
