{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="manifest" href="site.webmanifest" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.9"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
    <body>

        <nav class="navbar">
            <div class="logo"><a href="{% url 'index' %}">Terroza</a></div>
            <ul class="nav-links">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'about' %}" class="nav-link">About</a></li>
                    <li><a href="{% url 'friends' %}" class="nav-link">Friends</a></li>
                    <li><a href="{% url 'load_challenge_page' %}" class="nav-link">Challenges</a></li>
                    <li><a href="{% url 'bookshelf' %}" class="nav-link">Bookshelf</a></li>
                    <li><a href="{% url 'profile' %}" class="button-nav-link">Profile</a></li>
                {% else %}
                    <li><a href="{% url 'about' %}" class="nav-link">About</a></li>
                    <li><a href="{% url 'signup' %}" class="button-nav-link">Sign Up/Login</a></li>
                {% endif %}
            </ul>
        </nav>
        
        <main class="homepage-frame">
            {% if user.is_authenticated %}
                <div id="homepage-container" class="form-container">
                    <div class="header">Welcome back, {{ user.username }}!</div>
                    <p class="homepage-text">Ready to dive into a new world or challenge a friend? Your next adventure awaits.</p>
                    <a href="{% url 'bookshelf' %}" class="submit-btn homepage-btn">Go to Bookshelf</a>
                </div>
            {% else %}
                <div id="homepage-container" class="form-container">
                    <div class="header">Track Your Reading Journey</div>
                    <p class="homepage-text">Log your books, challenge your friends, and turn your reading habits into a rewarding adventure. Join Terroza today.</p>
                    <div class="homepage-actions">
                        <a href="{% url 'signup' %}" class="submit-btn homepage-btn">Sign Up</a>
                        <a href="{% url 'login' %}" class="submit-btn homepage-btn">Log In</a>
                    </div>
                </div>
            {% endif %}
        </main>
    </body>
</html>